<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加商品</title>
</head>
<body>
<div>
    <h1> 添加商品 </h1>
    <form action="" method="post">
        商品名称：<input type="text" name="produceName" placeholder="请输入商品名称"><br><br>
        分类: <select name="" id="">
                 <option value=""></option>
              </select>

        商品价格：<input type="text" name="produceSale" placeholder="请输入商品价格"><br><br>
        商品描述：<textarea name="produceDes" id="" placeholder="商品描述/信息" cols="30" rows="10"></textarea><br><br>
        商品图片：<input type="file" name="photo"><br><br>
        <button type="submit"> 上传 </button>
    </form>

</div>

</body>
<script>

</script>

</html>